* @mahmoudaboueleneen
/shared/ @mahmoudaboueleneen
/api-gateway/ @mahmoudaboueleneen @marwanamgad
/services/users @mahmoudaboueleneen @mayaasaadd @abdelrahmanAbouelkheir @Ahmedsherif74 @marwanamgad
/services/transactions @Ibrahim-Soltan
/services/notifications @Ibrahim-Soltan
/services/merchants @AhmedSherif9
/services/search @AhmedSherif9 @hassaballah17 @mohamed-ahmed121
/k8s/ @mahmoudaboueleneen
/observability/ @mahmoudaboueleneen @abdelrahmanAbouelkheir


